/* after downloading the ttf file we can make that file available to our project using @font-face and then use it in the body */

/* @font-face {
  font-family: "Roboto";
  src: url(./Roboto-VariableFont_wdth\wght.ttf);
} */

body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
}

main {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 20px;
  padding: 20px;
}

.left {
  background-color: black;
  height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 30px;
  position: sticky;
  top: 20px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.profile img {
  height: 75%;
  width: 60%;
  border-radius: 50%;
}

.profile p {
  font-size: 20px;
  color: white;
  font-weight: 300;
}

.nav {
  color: white;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  margin: 10px 20px 20px 30px;
  /* padding-right: 20px; */
}

.nav:hover {
  color: gold;
}

.nav > a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
}

.nav > a:hover {
  color: lightgrey;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* background-color: aquamarine; */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

header > h1 {
  margin-left: 50px;
  font-size: 35px;
  font-weight: 700;
}

header > input {
  background-color: white;
  margin-right: 10%;
  width: 200px;
  height: 20px;
  border-radius: 15px;
  padding: 5px;
  border: 0px white;
}

header > input:focus {
  outline: none;
  border: 2px solid lightgreen;
}

header > input::placeholder {
  color: lightgrey;
}

#dashboard {
  background-color: #fff;
  border-radius: 10px;
  width: 85%;
  margin-left: 50px;
  padding: 10px;
}

.board-img-container {
  height: 300px;
}

#dashboard img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#data {
  width: 85%;
  margin-left: 50px;
}

#data > h2 {
  text-align: center;
  text-decoration: underline;
}

.card-data-con {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  height: 100px;
  width: 180px;
  border-radius: 20px;
}

.card:hover {
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

#card-1 {
  background-color: lightskyblue;
}

#card-2 {
  background-color: bisque;
}

#card-3 {
  background-color: rgb(249, 193, 201);
}

#card-4 {
  background-color: #ebe7f9;
}

.card > i {
  margin-top: 10px;
  margin-left: 150px;
}

.cardHead {
  margin: 0px;
  margin-left: 10px;
  font-size: 18px;
}

.cardData {
  margin-top: 4px;
  font-size: 16px;
  margin-left: 10px;
}

#users{
    margin-left: 70px;
}

#users > h2 {
  text-align: center;
  text-decoration: underline;
}

#users > table {
  width: 95%;
  border-collapse: collapse;
  border-radius: 20px;
  background-color: white;
}

table th, table td{
    padding: 15px 100px;
    text-align: left;
}

thead th{
    background-color: #a39696;
    font-weight: 600;
}

table tbody tr:nth-child(even){
    background-color: #f9f9f9;
}

table tbody tr:hover{
    background-color: #eaeaea;
}
